/* Treeview specific styles - override Tailwind */
#treeview,
#treeview ul {
    list-style-type: none !important;
    padding: 0 10px !important;
    margin: 0 !important;
}

#treeview ul {
    padding-left: 5px !important;
}

#treeview li {
    cursor: pointer;
    padding: 0  !important;
    position: relative;
}

#treeview .hidden {
    display: none !important;
}

#treeview li.hasChild:before {
    content: '▾ ';
    position: absolute;
    left: -15px;
}

#treeview li.hasHidden:before {
    content: '▸ ';
    position: absolute;
    left: -15px;
}

#treeview li:not(.hasChild) {
    margin-left: 12px;
}

#treeview li.selected > a {
    background-color: #cce5ff;
}

#treeview a {
    text-decoration: none !important;
    color: black !important;
    padding: 2px 2px;
    display: inline-block;
}

#treeview a:hover {
    background-color: #e6f2ff;
}

#treeview a.department::before {
    content: '🏢 ';
}

#treeview a.project::before {
    content: '📂 ';
}

#treeview a.folder::before {
    content: '📁 ';
}

#treeview a.file::before {
    content: '📄 ';
} 

#treeview a.employee::before {
    content: '👤 ';
}

#treeview a.manager::before {
    content: '👔 ';
}

#treeview a.task::before {
    content: '✅ ';
}

#treeview a.private-root::before {
    content: '🔒 ';
}